<template>
<div class="factoring-info-viewer-container">
  <div class="title">О факторинге</div>
  Мы не будем здесь цитировать Гражданский кодекс и Википедию, чтобы рассказать Вам о факторинге. Изложим его суть в уже понятных категориях:<br><br>
  <div class="subtitle">Факторинг – это финансирование под уступку денежного требования.</div><br>
  Звучит не очень понятно. Поэтому давайте это переведем.<br><br>
  Всем хорошо известны термины «кредитование» и «займ». Кредитование – это займ, но предоставляемый банком. Финансирование – это тоже «займ», предоставляемый факторинговой компанией. Суть у «займа», «кредита», «финансирования» - одинаковая.<br><br>
  Часто при общении с банками можно услышать: «кредит ПОД залог», «кредит ПОД поручительство», «кредит ПОД оборот денежных средств». Суть всех этих терминов понятна – кредит выдается ПОД то или иное обеспечение его возврата. В первом случае возврат обеспечивает залог какого-либо имущества, во втором случае поручительство третьего лица, в третьем случае денежные обороты по счету. По аналогии: факторинг – это «кредит ПОД уступку денежного требования», т.е. обеспечением выступает денежное требование.<br><br>
  Денежное требование – это Ваша дебиторская задолженность Вашего контрагента, т.е. это долг перед Вами со стороны Вашего заказчика/потребителя услуги. Уступка денежного требования – это передача дебиторской задолженности, после которой Ваш дебитор должен будет расчитаться уже не с Вами, а с новым собственником его долга – факторинговой компанией. Таким образом, уступка денежного требования приводит к переводу расчетов с Вашими дебиторами через факторинговую компанию.<br><br>
  Объединив все приведенные выше аналогии получим:<br><br>
  <div class="subtitle">Факторинг – это кредит под оборот денежных средств по расчетам с Вашими дебиторами.</div><br>
  Теперь звучит понятнее, но остается ряд важных вопросов для пояснения:<br><br>
  <div class="accordion" role="tablist">
    <b-card no-body>
      <b-card-header header-tag="header" class="p-2" role="tab">
        <div
          v-b-toggle.accordion-1
          class="question-container">
          <b-icon class="arrow-collapse" icon="chevron-right" :rotate="showedAccordion === 'accordion-1' ? 90 : 0" font-scale="4" shift-h="4" variant="primary" />Какой размер финансирования (кредита) можно получить?
        </div>
      </b-card-header>
      <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>При общем подходе нельзя получить кредит в размере, превышающим оценку обеспечения, в нашем случае оценку размера дебиторской задолженности. При кредитовании под залог или оборот денежных средств в банках – оценка залога/суммы оборотов по счету предусматривает дисконт. Иными словами, банки дают кредит в меньшем размере, чем рыночная стоимость залога/сумма оборотов по счету на величину дисконта. В случае факторинга сумма финансирования тоже будет меньше размера дебиторской задолженности и в зависимости от схемы работы составит от 50% до 90% от ее размера. </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body>
      <b-card-header header-tag="header" class="p-2" role="tab">
        <div
          v-b-toggle.accordion-2
          class="question-container">
          <b-icon class="arrow-collapse" icon="chevron-right" :rotate="showedAccordion === 'accordion-2' ? 90 : 0" font-scale="4" shift-h="4" variant="primary" />Что будет с дисконтом после расчетов с дебитором?
        </div>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>Дисконт является страховкой на случай возникновения просрочки платежей со стороны Вашего дебитора. Как только дебитор расчитается по своей задолженности – факторинговая компания вернет Вам дисконт за вычетом своей комиссии по финансированию.</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body>
      <b-card-header header-tag="header" class="p-2" role="tab">
        <div
          v-b-toggle.accordion-3
          class="question-container">
          <b-icon class="arrow-collapse" icon="chevron-right" :rotate="showedAccordion === 'accordion-3' ? 90 : 0" font-scale="4" shift-h="4" variant="primary" />Под какую дебиторскую задолженность можно получить финансирование?
        </div>
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>Как мы уже разобрались – дебиторская задолженность является обеспечением возврата финансирования (кредита). Не каждая дебиторская задолженность может подойти для обеспечения, нужно быть уверенным, что дебитор заплатит. По нашим продуктам финансирования информация о требованиях к дебиторам указана в разделе «О наших продуктах».</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body>
      <b-card-header header-tag="header" class="p-2" role="tab">
        <div
          v-b-toggle.accordion-4
          class="question-container">
          <b-icon class="arrow-collapse" icon="chevron-right" :rotate="showedAccordion === 'accordion-4' ? 90 : 0" font-scale="4" shift-h="4" variant="primary" />Что будет если дебитор не заплатит?
        </div>
      </b-card-header>
      <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>В общем случае Вы все равно должны будете вернуть полученное финансирование. При этом, Вы можете поручить факторинговой компании истребование задолженности дебитора в судебном порядке.</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body>
      <b-card-header header-tag="header" class="p-2" role="tab">
        <div
          v-b-toggle.accordion-5
          class="question-container">
          <b-icon class="arrow-collapse" icon="chevron-right" :rotate="showedAccordion === 'accordion-5' ? 90 : 0" font-scale="4" shift-h="4" variant="primary" />Как оформляется факторинг?
        </div>
      </b-card-header>
      <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>Оформление факторинга предусматривает заключение бессрочного Генерального договора с описанием общих условий сотрудничества; оформление реестра требований к дебитору по каждой операции финансирования; направление уведомления дебитору об уступке денежного требования по каждой операции финансирования. </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'viewer',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {
      showedAccordion: '',
    };
  },
  mounted() {
    this.$root.$on('bv::collapse::state', (collapseId, isJustShown) => {
      this.showedAccordion = '';
      if (isJustShown) {
        this.showedAccordion = collapseId;
      }
    });
  },
};
</script>

<style scoped lang="scss">

  .factoring-info-viewer-container {
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 20px;
    @media (max-width: 900px) {
    }
    @media (min-width: 900px) {
      & .title {
        margin-bottom: 20px;
      }
    }
    & .accordion {
      & .card {
        margin: 0;
        & .question-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          & .arrow-collapse {
            height: 1rem;
            width: 2rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
</style>
