<template>
<div class="aboutus-lite-container">
  <div class="title">О нас</div>
  25 лет в банковском деле – это не просто четверть века, это практически вся современная история российского бизнеса, это опыт от самых истоков становления современных экономических отношений. Именно с таким опытом профессионалы создали в начале 2018 года Факторинговую компанию ЛУЧ и по настоящий день составляют костяк ее управленческой команды.<br><br>
  Создавая компанию, мы сознательно не пошли в традиционный для факторинга рынок сетевого ритейла, посчитав, что наш многолетний опыт будет востребован в сложных с точки зрения привлечения финансирования отраслях. Наша основная специализация – финансирование ресурсоснабжающих организаций от электроэнергетических компаний до компаний из сферы обращения ТКО; субъектов МСП – исполнителей государственных контрактов; компаний сферы e-commerce.<br><br>
  <b-button
    @click="openFullAboutUs"
    variant="outline-primary">
    читать полностью...
  </b-button>
</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
  name: 'viewerLite',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    openFullAboutUs() {
      this.$router.push({
        name: 'aboutUs',
      });
    },
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .aboutus-lite-container {
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 20px;
    @media (max-width: 900px) {
      margin: 0;
    }
    @media (min-width: 900px) {
      & .title {
        margin-bottom: 20px;
      }
    }
  }
</style>
