<template>
<div class="aboutus-container">
  <div class="title">О нас:</div>
  25 лет в банковском деле – это не просто четверть века, это практически вся современная история российского бизнеса, это опыт от самых истоков становления современных экономических отношений. Именно с таким опытом профессионалы создали в начале 2018 года Факторинговую компанию ЛУЧ и по настоящий день составляют костяк ее управленческой команды.<br><br>
  Создавая компанию, мы сознательно не пошли в традиционный для факторинга рынок сетевого ритейла, посчитав, что наш многолетний опыт будет востребован в сложных с точки зрения привлечения финансирования отраслях. Наша основная специализация – финансирование ресурсоснабжающих организаций от электроэнергетических компаний до компаний из сферы обращения ТКО; субъектов МСП – исполнителей государственных контрактов; компаний сферы e-commerce.<br><br>
  Большинство наших клиентов объединяет наличие потребности в оборотном капитале, с одной стороны, и неприемлемость/неприменимость банковского кредитования, с другой стороны.<br><br>
  Многие наши клиенты из сферы ЖКХ сталкиваются с проблемами сбора платежей, несогласованностью утвержденных тарифов, необходимостью осуществления вложений в инфраструктуру, что в ряде случаев приводит к убыткам на балансах, слабости прочих финансовых показателей деятельности. Убыточная деятельность, а уж тем более отрицательные чистые активы, являются для многих банков стоп-факторами при кредитовании.<br><br>
  Не секрет, что банки при кредитовании требуют предоставления твердых и ликвидных залогов, поручительств финансово состоятельных компаний и/или учредителей бизнеса. Для большинства компаний, особенно субъектов МСП, это невыполнимые условия.<br><br>
  Большинство банков не разбирается в специфике деятельности компаний сферы e-commerce. Отсутствие понимания происходящих процессов заставляет банки подходить к вопросу кредитования таких клиентов консервативно с использованием стандартов, зачастую не отвечающих реалиям развития отрасли.<br><br>
  Таким образом, можно констатировать, что банковское кредитование на сегодняшний день доступно не для всех, а выход может быть найден в нестандартных решениях и подходах.<br><br>
  Именно такие нестандартные решения и предлагает Факторинговая компания ЛУЧ. Нами была разработана целая линейка специализированных продуктов финансирования наших клиентов, не предусматривающих предоставления залогов и поручительств, ограничений целевого использования заемных средств. Мы смогли глубоко погрузиться в специфику отраслей своего присутствия, приобретенные компетенции сделали возможным предоставление финансирования планово-убыточным компаниям.<br><br>
  В своей работе мы используем только передовые технологические решения. Взаимодействие с клиентами строится на 100% электронном документообороте с использованием Системы «Держава онлайн». Это позволяет нам работать по всей стране без каких-либо географических и административных ограничений.<br><br>
  Наработанный опыт позволяет нам решать не только вопросы финансирования наших клиентов, но и оказывать им предметную помощь в получении банковских гарантий.<br><br>
  Возможности получения банковской гарантии ограничены теми же сдерживающими факторами, как и при кредитовании. Бытующее мнение о доступности этого банковского инструмента зачастую не соответствует действительности. Да, у многих банков существует упрощенная процедура рассмотрения вопроса о предоставлении гарантий, но распространяется она преимущественно на суммы до 50-75 млн. рублей. Возможность предоставления гарантий в больших размерах рассматривается банками по аналогии с кредитованием.<br><br>
  Партнерские отношения Факторинговой компании ЛУЧ с Банком Держава позволили объединить накопленные нами компетенции в финансировании отраслевых участников с аналитическими возможностями Банка и его многолетним опытом работы на рынке банковских гарантий.<br><br>
  Банк Держава является, пожалуй, единственной узкоспециализированной на предоставлении гарантий кредитной организацией, занимающей одну из лидирующих позиций в стране по количеству выдаваемых гарантий. Отличительной особенностью Банка является оперативность рассмотрения и выдачи гарантий.<br><br>
  Современные технологии уже настолько обезличили не только наше повседневное общение, но и во многом партнерские бизнес отношения. Зачастую невозможно пробиться сквозь различные регламенты и стандарты для обсуждения специфических вопросов, а «гибкость» в подходах превратилась в голую декларацию. У нас тоже есть стандартизированные продукты, но основу наших клиентских отношений составляют все же межличностные отношения, которые являются главной ценностью компании.
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'viewer',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .aboutus-container {
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 20px;
    @media (max-width: 900px) {
      margin: 0;
    }
    @media (min-width: 900px) {
      & .title {
        margin-bottom: 20px;
      }
    }
  }
</style>
