.modal-dialog {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: unset;
  margin-bottom: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  @media (max-width: 900px) {
    margin: 0;
    & .modal-content {
      height: calc(100% - 1.5rem);
      width: 100%;
      & .modal-body {
        max-height: 800px;
        overflow: auto;
      }
    }
  }
  @media (min-width: 900px) {
    & .modal-content {
      & .modal-body {
        max-height: 800px;
        overflow: auto;
      }
    }
  }
}
