<template>
<aboutUsViewer>
</aboutUsViewer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import aboutUsViewer from '../aboutus/viewer';

export default {
  name: 'aboutUs',
  components: {
    aboutUsViewer,
  },
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
