<template>
<div>
  <carousel />
  <aboutus />
  <factoringInfo />
  <products />
  <partners />
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import carousel from '../carousel';
import products from '../products';
import aboutus from '../aboutus/viewerLite';
import factoringInfo from '../info/viewer';
import partners from '../partners';

export default {
  name: 'home',
  components: {
    carousel,
    aboutus,
    factoringInfo,
    products,
    partners,
  },
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
