<template>
<div class="product-container">
  <div class="subtitle">{{ title }}</div>
  <div class="slot-container">
    <slot></slot>
  </div>
  <div class="footer">
    <feedbackForm />
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import feedbackForm from '../feedback/viewer';

export default {
  name: 'productViewer',
  components: {
    feedbackForm,
  },
  props: {
    title: String,
  },
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:not(:last-child) {
      @media (max-width: 900px) {
        margin-bottom: 30px;
      }
      @media (min-width: 900px) {
        margin-bottom: 50px;
      }
    }
    @media (max-width: 900px) {
      & .subtitle {
        margin-left: 10px;
      }
    }
    @media (min-width: 900px) {
      & .subtitle {
        margin-left: 10px;
      }
    }

    & .slot-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      text-align: justify;
    }
    & .footer {
      margin-left: 10px;

    }
  }
</style>
