<template>
  <b-carousel
    id="carousel-1"
    v-model="slide"
    :interval="4000"
    controls
    indicators
    background="#ababab"
    img-width="1024"
    img-height="480"
    style="text-shadow: 1px 1px 2px #333;"
    @sliding-start="onSlideStart"
    @sliding-end="onSlideEnd">
    <!-- Text slides with image -->
    <b-carousel-slide
      caption="First slide"
      text="Nulla vitae elit libero, a pharetra augue mollis interdum."
      img-src="https://picsum.photos/1024/480/?image=52" />

    <!-- Slides with custom text -->
    <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
      <h1>Hello world!</h1>
    </b-carousel-slide>

    <!-- Slides with image only -->
    <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58"></b-carousel-slide>

    <!-- Slides with img slot -->
    <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
    <b-carousel-slide>
      <template #img>
        <img
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="https://picsum.photos/1024/480/?image=55"
          alt="image slot">
      </template>
    </b-carousel-slide>
  </b-carousel>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'carousel',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    onSlideStart() {

    },
    onSlideEnd() {

    },
    ...mapActions({}),
  },
  data() {
    return {
      slide: 0,
    };
  },
};
</script>

<style scoped lang="scss">

</style>
