<template>
<div class="main-component-container">
  <navbar />
  <div class="main-component-body">
    <router-view/>
  </div>
  <modal />
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import products from './products';
import modal from './feedback/modal';
import partners from './partners';
import factoringInfo from './info/viewer';
import aboutus from './aboutus/viewerLite';
import navbar from './navbar';
import carousel from './carousel';

export default {
  name: 'MainComponent',
  components: {
    products,
    navbar,
    carousel,
    modal,
    partners,
    factoringInfo,
    aboutus,
  },
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .main-component-container {
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    & .main-component-body {
      overflow-y: auto;
      @media (max-width: 900px) {
        padding: 0 5%;
      }
      @media (min-width: 900px) {
        padding: 0 19%;
      }
    }
  }
</style>
