<template>
<b-navbar class="navbar-container" toggleable="lg" type="dark" variant="info">
  <b-navbar-brand
    :to="{ name: 'home' }"
    :exact="$route.name === 'home'">ФК Луч</b-navbar-brand>
  <b-navbar-brand
    exact-active-class="active-route"
    :to="{ name: 'aboutUs' }"
    :exact="$route.name === 'aboutUs'">О нас</b-navbar-brand>
  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
</b-navbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'navbar',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .navbar-container {
    @media (max-width: 900px) {
      padding: 0.5rem 5%;
    }
    @media (min-width: 900px) {
      padding: 0.5rem 19%;
    }
    & .navbar-brand {
      cursor: pointer;
      &.active-route {
        text-decoration: underline;
      }
    }
  }
</style>
