<template>
<div class="partners-container">
  <div class="title">Наши партнёры</div>
  <div>АКБ «Держава» ПАО</div>
  <div>ООО «Держава Платформа»</div>
  <div>Ассоциация «Чистая страна» <b-link href="https://cleancountry.ru/">https://cleancountry.ru/</b-link></div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'partners',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .partners-container {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
      margin: 0 0.5rem 10px;
    }
    @media (min-width: 900px) {
      margin: 0 35% 10px;
    }
  }
</style>
