<template>
<div class="products-container">
  <div class="title">Наши продукты:</div>
  <ProductViewer
    :title="'Финансирование исполнителей госконтрактов'">
    В условиях постоянной нестабильности экономической ситуации и возрастающих потребностей бизнеса в оборотном капитале мы нашли возможность предложить нашим клиентам доступный и простой инструмент финансирования без залогов, без поручительств, без контроля целевого использования - ФИНОМ:
    <br>
    <div class="link-container">Далее – <b-link href="#foo">Приложение № 2</b-link></div>
    Использование продукта ФИНОМ может кратно увеличить Ваши возможности по исполнению контрактов как по количеству, так и по сумме. Вам достаточно 30% денежных средств для исполнения контракта? Тогда Вы можете увеличить объем своих поставок/услуг до 100 млн. рублей. Заключайте 1 контракт на 100 млн. руб. или 33 контракта по 3 млн. руб. – ПРОФИНАНСИРУЕМ!
  </ProductViewer>
  <ProductViewer
    :title="'Финансирование операторов обращения ТКО'">
    ФК «ЛУЧ», при консультационной поддержке Ассоциации «Чистая страна», смогла разработать продукт финансирования региональных операторов и операторов, позволяющий оперативно получить возобновляемое финансирование в размере 2-х месячной выручки. При этом не требуется предоставление залогов, перевод расчетов в какой-то конкретный банк. Мы смогли глубоко погрузиться в специфику отрасли, приобретенные компетенции сделали возможным предоставление финансирования планово-убыточным компаниям.
    <div class="link-container"><b-link href="#foo">Приложение № 5</b-link></div>
  </ProductViewer>

  <b-card style="margin-bottom: 30px" img-src="https://picsum.photos/1024/480/?image=54" img-alt="Card image" img-top>
    <ProductViewer
      :title="'Финансирование предприятий ЖКХ'">
      Многолетние проблемы недофинансирования отрасли ЖКХ приводят к острой потребности РСО в привлечении заемных средств как на закрытие кассовых разрывов, вызванных сезонностью и нештатными ситуациями, так и на обновление устаревшей инфраструктуры. Эти же проблемы  обусловливают во многих случаях слабые финансовые показатели РСО, не позволяющие рассчитывать на банковское кредитование.
      ФК ЛУЧ разработала для предприятий отрасли несколько типовых инструментов финансирования в зависимости от решаемых задач:
      <div class="link-container"><b-link href="#foo">Приложение № 3</b-link></div>
      <div class="link-container"><b-link href="#foo">Приложение № 4</b-link></div>
      Для реализации долгосрочных инвестиционных проектов мы структурируем индивидуальные схемы финансирования наших клиентов.
    </ProductViewer>
  </b-card>

  <b-card no-body class="overflow-hidden" style="max-height: 400px">
    <b-row no-gutters>
      <b-col md="6">
        <b-card-img src="https://picsum.photos/400/400/?image=20" alt="Image" class="rounded-0"></b-card-img>
      </b-col>
      <b-col md="6">
        <ProductViewer
          :title="'Финансирование Подрядчиков ФКР'">
          Пожалуй, мы первая и единственная факторинговая компания, осуществляющая финансирование подрядчиков ФКР Москвы на промежуточных этапах исполнения контракта. Понимая специфику взаимоотношений подрядчика и Заказчика мы смогли найти компромисс, учитывающий интересы всех сторон по сделке и позволяющий  предоставлять финансирование без наличия полностью оформленных документов, подтверждающих выполнение работ, предусмотренных контрактом.
          <div class="link-container"><b-link href="#foo">Приложение № 1</b-link></div>
        </ProductViewer>
      </b-col>
    </b-row>
  </b-card>

</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ProductViewer from './product/productViewer';

export default {
  name: 'products',
  components: {
    ProductViewer,
  },
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .products-container {
    margin-bottom: 50px;
    text-align: justify;
    & .link-container {
      width: 100%;
      display: flex;
      padding: 3px 0;
    }
  }
</style>
