<template>
<div class="feedback-form-container">
  feedbackForm
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'feedbackForm',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

  .feedback-form-container {

  }
</style>
