<template>
<b-modal
  v-model="show"
  id="modal-feedback-form"
  centered
  title="Форма обратной связи">
  <p class="my-4">Консультация специалиста</p>
  <p class="my-4">(заполните форму, и наш специалист с Вами свяжется)</p>
  <b-form @submit="onSubmit" @reset="onReset" v-if="show">
    <b-form-group
      id="input-group-1"
      label="ИНН организации"
      label-for="input-1"
      description="">
      <b-form-input
        id="input-1"
        v-model="form.inn"
        type="email"
        placeholder=""
        required/>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      label="Контактное лицо"
      label-for="input-2"
      description="">
      <b-form-input
        id="input-2"
        v-model="form.contact"
        type="text"
        placeholder=""
        required/>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      label="Телефон"
      label-for="input-2"
      description="">
      <b-form-input
        id="input-2"
        v-model="form.phone"
        type="text"
        placeholder=""
        required/>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      label="Почта"
      label-for="input-2"
      description="">
      <b-form-input
        id="input-2"
        v-model="form.email"
        type="text"
        placeholder=""
        required/>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      label="Ваш вопрос"
      label-for="textarea-question"
      description="">
      <b-form-textarea
        id="textarea-question"
        placeholder=""
        v-model="form.question"
        required />
    </b-form-group>
  </b-form>
  <template #modal-footer>
    <div class="w-100">
      <b-button
        variant="primary"
        class="float-right"
        @click="show=false">
        Отправить
      </b-button>
    </div>
  </template>
</b-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'modal',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    onSubmit() {

    },
    onReset() {

    },
    ...mapActions({}),
  },
  data() {
    return {
      show: false,
      form: {
        inn: '',
        contact: '',
        phone: '',
        email: '',
        question: '',
      },
    };
  },
};
</script>

<style scoped lang="scss">

</style>
