<template>
<div>
  <b-button
    v-b-modal="'modal-feedback-form'"
    variant="outline-primary">
    Обратная связь
  </b-button>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'viewer',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    openFeedbackForm() {

    },
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
