<template>
<div id="app">
  <MainComponent />
</div>
</template>

<script>
import MainComponent from './components/MainComponent';

export default {
  name: 'App',
  components: {
    MainComponent,
  },
};
</script>

<style lang="scss">
  @import "./styles/styles";
  @import "./styles/modal";

  @import '../node_modules/bootstrap/scss/bootstrap';
  @import '../node_modules/bootstrap-vue/src/index';

  html, body, #app {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
